<header class="header">
     <img class="header__logo" src="../images/logo_minimø.png" />
     <ul class="header__nav nav">
          <li class="nav__item">
              <a class="nav__link" href="#">lifestyle</a>
          </li>
          <li class="nav__item">
              <a class="nav__link" href="#">photodiary</a>
          </li>
          <li class="nav__item">
              <a class="nav__link" href="#">music</a>
          </li>
          <li class="nav__item">
              <a class="nav__link" href="#">travel</a>
          </li>
     </ul>
</header>
