<aside class="blog-post__sidebar">
         <img class="sidebar__image" src="../images/main_right_image.png" />
         <h3 class="sidebar__title">About me</h3>
         <p class="sidebar__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         <h4 class="sidebar__top-posts-title">top posts</h4>
         <ul class="sidebar__top_posts top_posts">
             <li class="top-posts__item">
                 <a class="top-posts__link" href="#">A day exploring the Alps</a>
             </li>
             <li class="top-posts__comments-item">
                 <a class="top-posts__comments-link" href="#">24 comments</a>
             </li>
             <li class="top-posts__item">
                 <a class="top-posts__link" href="#">American dream</a>
             </li>
             <li class="top-posts__comments-item">
                 <a class="top-posts__comments-link" href="#">19 comments</a>
             </li>
                <li class="top-posts__item">
                 <a class="top-posts__link" href="#">Cold winter days</a>
             </li>
             <li class="top-posts__comments-item">
                 <a class="top-posts__comments-link" href="#">15 comments</a>
             </li>
         </ul>       
</aside>
