.header {
    margin: 55px 67px 0;
    height: 615px;
    background: url(../images/header_image.jpg) no-repeat center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo, .header__nav {
    display: inline-block;
    vertical-align: top;
}

.header__logo {
    width: 120px;
    height: 25px;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__item {
    padding-left: 85px;
}

.nav__link {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: #aeaeae;
    text-decoration: none;
}

