<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>7bits frontend courses workshop weeks 4-5</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">    
</head>
<body>
    <h1 class="title">Skills</h1>
    <ul class="skills">
        <li class="skills_item">Communication
            <div class="bar communication"></div>
        </li>        
        <li class="skills_item">Creativity
            <div class="bar creativity"></div>
        </li>        
        <li class="skills_item">Teamwork
            <div class="bar communication"></div>
        </li>      
        <li class="skills_item">Organization
            <div class="bar creativity"></div>
        </li>        
        <li class="skills_item">Leadership
            <div class="bar communication"></div>
        </li>       
        <li class="skills_item">Teamplayer
            <div class="bar creativity"></div>   
        </li>
    </ul>
</body>
</html>
