.blog-post__sidebar {
    margin-left: 40px;
}

.sidebar__title {
    margin: 15px 0 15px 0;
    font-size: 24px;
    color: #626262;
}

.sidebar__text {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 20px;
    color: #626262;
}

.sidebar__top-posts-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #d9d5ce;
}

.sidebar__top_posts {
    margin-top: 33px;
    padding-left: 35px;
}

.top-posts__item {
    margin-bottom: 12px;
    list-style-type: disc;
}

.top-posts__link {    
    font-size: 16px;
    color: #626262;
    text-decoration: none;
}

.top-posts__comments-item {
    margin-bottom: 28px;
    list-style: none;
}

.top-posts__comments-link {
    margin-bottom: 28px;
    font-size: 12px;
    text-transform: uppercase;
    color: #b4ad9e;
    text-decoration: none;
}


