<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MINIMO</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    {{> header/header}}

    <article class="blog-post">
        {{> @partial-block}}
        {{> sidebar/sidebar}}
    </article>

    {{> footer/footer}} 
</body>
</html>
